body{
  text-align: center;
//  background-color: #00cec9;
  background: linear-gradient(219deg, #7168f3,#00cec9 , #f368e0, #f368a0);
}
h1{

  text-align: center;
  padding: 10px;

}

#container{
  background-color: #ffeaa7;
  display:grid;
  width: 780px;
  max-width: 80%;
  border: 1px dotted black;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px;
  margin: 0 auto;
  padding: 5px 0px 0px 0px;
  font-size: 14px;
  grid-template-columns: 0.1fr 0.1fr 0.1fr;
   grid-template-rows: 0.1fr 0.1fr 0.1fr;
  grid-template-areas:
        "img img img"
        "txt txt txt"

}
#images{
  grid-area: img;
  margin: 5px 5px 10px 5px;
  width: 120px;
  height: 100px;
  border: 1px solid black;


}


#txt{
  margin:0 auto;
  text-align: center;
  grid-area: txt;
  padding:3px;
  font-weight: bold;
}

#txt:focus{
    margin:5px;
}



input[type=text]
{
  border: 1.1px solid #8842d5;
    border-radius: 5px;
    margin:5px;

}

#rules{

  position: relative;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;

  box-shadow: 0 0 10px 2px;
  background-color: #f6e58d;
  margin: 20px -8px 30px -8px;
  padding: 10px;
  clip-path:polygon(0 0, 100% 0, 100% calc(100% -10vw), 0, 100%);
}

h3{
  font-size: 26px;
}

#rules ul{
  list-style-type: none;
}

@media (max-width: 800px){

  #container{
    display: block;
  }

#rules{
  font-size: 14px;
}

h3{
  font-size: 18 px;
}
}
