body{
  text-align: center;
//  background-color: #00cec9;
  background: linear-gradient(219deg, #7168f3,#00cec9 , #f368e0, #f368a0);
}
h1{

  text-align: center;
  padding: 10px;

}

#container{
  background-color: #ffeaa7;
  display:grid;
  width: 790px;
  max-width: 80%;
  border: 1px dotted black;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px;
  margin: 0 auto;
  padding: 10px 0px 0px 0px;
  font-size: 14px;
  grid-template-columns: 0.1fr 0.1fr 0.1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr;

}
#images{
  margin: 5px 5px 10px 5px;
  width: 140px;
  height: 110px;
  border: 1px solid black;


}


#txt{
  background-color: #f1f2f6;
  margin:0 auto;
  text-align: center;
  padding:3px;
  font-weight: bold;
}





#container input[type=text]
{
  border: 1.1px solid #8842d5;
    border-radius: 5px;
    margin:0 auto;

}

#container input[type=text]:focus{
  background-color: #ece578;
  margin:8px;


}
.rules{

  position: relative;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
  box-shadow: 0 0 10px 2px;
  background-color: #f6e58d;
  margin: 20px -8px 30px -8px;
  padding: 10px;
}

h3{
  font-size: 26px;
}

.rules ul{
  list-style-type: none;
}


@media (max-width: 500px), screen and (orientation: portrait)  {

h1{
  font-size: 4em;
}


.rules h3{
  font-size: 1.7em;
}

.rules li{
  font-size: 0.8em;
}

  #container{
    display:  block;
    position: relative;
    left:80px;
    float: left;
    width: 400px;

  }

#images{
  width: 200px;
  height: 160px;
}

#container input[type=text]{
  width: 200px;
  padding: 5px;
  font-size: 1.7em;
  font-weight: bolder;
}

#rules{
  font-size: 14px;
}

h3{
  font-size: 18px;
}

}
